<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sk.exammvc.dao.ExamManageMapper">
    <select id="findAll" resultType="com.sk.exammvc.entity.ExamManage">
        select * from exam_manage
    </select>
    <select id="findAllByPage" resultType="com.sk.exammvc.entity.ExamManage">
        select * from exam_manage
    </select>
    <select id="findById" resultType="com.sk.exammvc.entity.ExamManage">
        select * from exam_manage where examCode = #{examCode}
    </select>
    <delete id="delete">
        delete from exam_manage where examCode = #{examCode}
    </delete>
    <update id="update">
        update exam_manage set description = #{description},source = #{source},paperId = #{paperId},
            examDate = #{examDate},totalTime = #{totalTime},grade = #{grade},
            major = #{major},institute = #{institute},totalScore = #{totalScore},
            type = #{type},tips = #{tips} where examCode = #{examCode}
    </update>
    <insert id="add">
        insert into exam_manage(description,source,paperId,examDate,totalTime,grade,major,institute,totalScore,type,tips)
            values(#{description},#{source},#{paperId},#{examDate},#{totalTime},#{grade},#{major},#{institute},#{totalScore},#{type},#{tips})
    </insert>
    <select id="findOnlyPaperId" resultType="com.sk.exammvc.entity.ExamManage">
        select paperId from exam_manage order by paperId desc limit 1
    </select>
</mapper>